.search{
    &-container{
        width:100%;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }

    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }

      &-input {
        margin-left: 10px;
        padding: 10px;
        width: 600px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: 1px solid gray;
      }  

      &-button {
        border: none;
        outline: none;
        background:black;
        padding: 10px;
        border: 1px solid gray;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;
    
            &:hover {
              color: gray;
              background-color:white;
              border: 1px solid rgba(0, 0, 0, 0.267);
              }
        }
}

.logo {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.589);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }